body {
  background-color: transparent;
  color: rgb(0, 0, 0, 0.8);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 12px;
  user-select: none;
  margin: 0;
  padding: 0;
}

.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.main-content {
  flex: 1; /* Take up remaining space */
  background-color: rgba(255, 255, 255, 0.8); /* Use semi-transparent background for vibrancy */
  backdrop-filter: blur(20px); /* Apply blur effect */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 20px;
}

.main-container {
  display: flex;
  flex: 1; 
}

.sidebar {
  inset: 0px;
  width: 150px; 
  position: relative;
  background-color: rgba(255, 255, 255, 0.8); 
  backdrop-filter: blur(20px); 
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

#sidebar .shadow {
	background: linear-gradient(270deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0));
	bottom: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 3px;
}

/* Dark mode styling */
@media (prefers-color-scheme: dark) {
  body {
    color: rgb(240, 240, 240);
  }

  .sidebar {
    background-color: rgba(43, 43, 43, 0.8); /* Adjust color for dark mode */
  }

  .main-content {
    background-color: rgba(35, 35, 35, 0.8); /* Adjust color for dark mode */
    color: white;
  }
}

/* Light mode styling */
@media (prefers-color-scheme: light) {
  body {
    color: rgba(0, 0, 0, 0.8);
  }

  .sidebar {
    background-color: rgba(255, 255, 255, 0.8); /* Adjust color for light mode */
  }

  .main-content {
    background-color: rgba(255, 255, 255, 0.8); /* Adjust color for light mode */
    color: black;
  }
}


